<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Frankfurter is a free and open source API for currency conversion and historical exchange rates.">
    <title>Foreign exchange rates and currency conversion API | Frankfurter</title>
    <link rel="canonical" href="https://frankfurter.app/">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/solarized-dark.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="shortcut icon" href="/images/frankfurter.png">
    <% if ENV['GA_TRACKING_ID'] %>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36475354-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= ENV['GA_TRACKING_ID'] %>');
    </script>
    <% end %>
  </head>
  <body>

    <nav class="navbar navbar-expand">
      <div class="container">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/hakanensari/frankfurter" target="_blank">
              <i class="fab fa-github fa-fw fa-lg"></i><span class="d-none d-sm-inline">Source</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://hub.docker.com/r/hakanensari/frankfurter/" target="_blank">
              <i class="fab fa-docker fa-fw fa-lg"></i><span class="d-none d-sm-inline">Image</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.ecb.europa.eu/stats/exchange/eurofxref/html/index.en.html" target="_blank">
              <i class="fas fa-file-alt fa-fw fa-lg"></i><span class="d-none d-sm-inline">Data sets</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://status.frankfurter.app/" target="_blank">
              <i class="fas fa-signature fa-fw fa-lg"></i><span class="d-none d-sm-inline">Status</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <header class="header container">
      <div class="logo">
        <image src="/images/frankfurter.png" alt="">
      </div>
      <h1>Frankfurter</h1>
      <h2>Foreign exchange (forex) rates and currency conversion API</h2>
      <a href="https://heroku.com/deploy?template=https://github.com/hakanensari/frankfurter" target="_blank">
        <button type="button" class="btn btn-ssm"><i class="fas fa-arrow-circle-up fa-fw"></i> <strong>Deploy</strong> to Heroku</span></button>
      </a>
    </header>

    <div class="content container">
      <%= content %>
    </div>

    <footer class="footer container">
      <p class="small">
        <i class="far fa-heart"></i> Frankfurter 2012-<%= Date.today.year %>
      </p>
    </footer>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <% if ENV['GA_TRACKING_ID'] %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#d94f33"
          },
          "button": {
            "background": "#8f1911"
          }
        },
        "content": {
          "message": "This site uses cookies for analytics. By continuing to browse this site, you agree to this use."
        }
      })});
    </script>
    <% end %>
  </body>
</html>

